:root {
--dark: #374151;
--darker: #1F2937;
--darkest: #111827;
--gray: #6B7280;
--light: #EEE;
--pink: #EC4899;
--purple: #8B5Cf6;
}

* {
box-sizing: border-box;
margin: 0;
font: "fira sans", sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height:100vh ;
    background: var(--gray);
    color: #fff;
}

header{
padding: 2rem 1rem;
max-width: 800px;
width: 100%;
margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--dark);
}

#new-to-do-list {
    display: flex;

}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-to-do-input{
    flex: 1 1 0%;
    background-color: var(--dark);
    padding: 1rem;
border-radius: 1rem;
margin-right: 1rem;
color: var(--light);
font-size: 1.25rem;
}

#new-to-do-input::placeholder {
    color: var(--darkest);
}

#new-to-do-submit{
    color: var(--purple);
    font-size: 1.25rem;
    font-weight: 700;
}